body {
    height: 100vh;
}

.header-wrapper {
    display: flex;


}
.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 20px;
    row-gap: 30px;
}

.header-content {
    display: flex;
    flex-basis: 250px;
    flex-direction: column;
    flex-grow: 7;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
}

.navbar div {
    display: flex;
    gap: 10px;
}

.nav-list li {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-buttons button {
    width: 100%;
}

.button-two {
    background-color: #383838;
    color: white;
    border: none;
}

.header-section h1, p {
    text-align: center;
}

.header-section {
    flex: 0;
    background-image: url("../assets/placeholder-image.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25vh 0;

}

.main-section {
    display: flex;
    flex-direction: column;
}

.footer-section {
    background-color: #383838;
    color: white;
    padding: 1vh 0;
}
